version: '3.8'

services:
  redis:
    container_name: redis
    image: redis:7.2-alpine
    restart: always
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes

  api-gateway:
    container_name: gateway
    build:
      context: .
      dockerfile: services/gateway/Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - uploads_cache:/app/gateway/uploads
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - DB_HOST=postgres
      - DB_PORT=5432
      - POSTGRES_PASSWORD=Hi8899
    depends_on:
      - redis
    deploy:
      replicas: 1

# === Gemini Worker 服务 ===
  gemini-worker-1:
    container_name: gemini-worker-1
    build:
      context: .
      dockerfile: services/workers/gemini/Dockerfile
    restart: always
    volumes:
      - uploads_cache:/app/gateway/uploads
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - DB_HOST=postgres
      - DB_PORT=5432
      - POSTGRES_PASSWORD=Hi8899
      - STREAM_KEY=gemini_stream
      - GROUP_NAME=gemini_workers_group
      - GEMINI_WORKER_ID=gemini-worker-1
    depends_on:
      - redis

  gemini-worker-2:
    container_name: gemini-worker-2
    build:
      context: .
      dockerfile: services/workers/gemini/Dockerfile
    restart: always
    volumes:
      - uploads_cache:/app/gateway/uploads
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - DB_HOST=postgres
      - DB_PORT=5432
      - POSTGRES_PASSWORD=Hi8899
      - STREAM_KEY=gemini_stream
      - GROUP_NAME=gemini_workers_group
      - GEMINI_WORKER_ID=gemini-worker-2
    depends_on:
      - redis

  postgres:
    image: postgres:18
    container_name: postgresql
    ports:
      - "5432:5432"
    environment:
      - TZ=Asia/Shanghai
      - POSTGRES_PASSWORD=Hi8899
      - PGDATA=/var/lib/postgresql/18/docker
      - LANG=C.UTF-8
      - POSTGRES_INITDB_ARGS=-c wal_buffers=16MB
    volumes:
      - pg_data:/var/lib/postgresql/18/docker
    restart: unless-stopped
volumes:
  uploads_cache:
  pg_data:
